

/* From http://designmodo.github.io/Flat-UI/ */
.btn {
  border: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  background-color: #255b96;
  color: #ffffff !important;
  text-decoration: none;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #3073b3;
  text-decoration: none;
  cursor: pointer;
}
.btn:active,
.btn.active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-lg {
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border-radius: 6px;
}

.form-control {
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
}

/* Register */
.post-footer-self-promotion input {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #CCCCCC;
  color: #555555;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 0px 12px;
  border-right: none;
}

.post-footer-self-promotion input[type="email"] {
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 4px 0 0 4px;
  width: 210px;
}

.post-footer-self-promotion input[type="submit"] {
  background-color: #255b96;
  color: #ffffff !important;
  text-decoration: none;
  -webkit-font-smoothing: subpixel-antialiased;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  margin-right: 1em;
}

@media (max-width: 419px) {
  .post-footer-self-promotion input[type="email"] {
    border-right: 1px solid #CCC;
    border-radius: 4px;
  }
  .post-footer-self-promotion input[type="submit"] {
    display: block;
    border-radius: 4px;
    width: 210px;
    margin-top: 1em;
  }
}

.slideshare {
  height: 549px;
  width: 100%;
}

.video-wrapper {
  max-width: 680px;
}
.video-wrapper-inner {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper-inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.uslide-container {
  max-width: 1000px;
}
